
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: white;
  text-decoration: none;
  list-style-type: none;
}
body {
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: start; */
  /* overflow: hidden; */
  color: rgb(0, 0, 0);
  text-align: center;
  background: linear-gradient(-45deg, #05070f, #0b1220, #042544, #111827);
  background-size: 400% 400%;
  animation: gradientBG 12s ease infinite;
  position: relative;
  scroll-behavior: smooth;
}
/* a, button, input, select {
  transition: all 100ms ease-in-out;
} */

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* floating circles */
.circle {
  position: absolute;
  border-radius: 50%;
  background: rgba(0, 200, 255, 0.08);
  animation: float 10s infinite ease-in-out;
  z-index: 1;
}

.circle:nth-child(1) {
  width: 140px;
  height: 140px;
  top: 10%;
  left: 15%;
}

.circle:nth-child(2) {
  width: 90px;
  height: 90px;
  bottom: 15%;
  right: 10%;
  animation-duration: 12s;
}

.circle:nth-child(3) {
  width: 180px;
  height: 180px;
  bottom: 10%;
  left: 20%;
  animation-duration: 15s;
}

@keyframes gradientMove {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

.neon-gradient {
  background-size: 200% 200%;
  animation: gradientMove 4s ease infinite;

  /* Glow effect */
  text-shadow:
    0 0 1px #00AAFF,
    0 0 2px #494949,
    0 0 4px #000000,
    0 0 8px #494949;
}

#mobileSidebar::-webkit-scrollbar {
  width: 0;
}

#mobileSidebar {
  scrollbar-width: none;
}